<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>alignment practice</title>
    <link href="elog_home.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div>
    <div>
        <div style="height: 300px; width: 300px">
            <img src="https://media.vlpt.us/images/rkdrhksdn/post/707790ee-d9f2-4daa-a917-1a2ea2ef35c6/100.png?w=640" style="height: 300px; width: 300px">
        </div>
        <div style="height: 300px; width: 300px">
            <h4>안녕요</h4>
        </div>
        <div style="height: 300px; width: 300px">
            <p>카카오 100일 프로젝트는 매일 하고 싶었던 일은 100일 동안 꾸준히 하면서 인증을 하는 서비스인데요.
                저는 하루 한 개, 기술 아티클 읽기를 도전하고 있습니다.
                https://project100.kakao.com/project/2166/introduce
            </p>
        </div>
    </div>
</div>


</body>
</html>
